* {
    margin-top: 0%;
    padding: 0px;
    box-sizing: border;
    font-family: Arial, Helvetica, sans-serif;

    background-size: cover;
}

.image {
    background-size: cover;
    background-image: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/3E8B/production/_121611061_gettyimages-1232756388.jpg");
}



.logo {
    display: flex;
    width: 100%;

    background-size: cover;
    justify-content: center;
    align-items: center;


}

.logo img {
    width: 105px;
    height: 35px;
    margin-top: 15px;

}

.logo span {
    margin-top: 5px;
    font-size: 10px;
}

.form {

    flex-direction: column;
    justify-items: center;
    color: blue;
    padding: 10px;
    margin-top: 0%;
    background-color: transparent;
}

.card {

    background-size: cover;
    width: 400px;
    background-color: aqua;
    height: 400px;
    padding: 85px 22px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 10px auto 10px auto;
    margin-top: 0%;


}

.text-field {

    padding: 30px;
    text-align: center;
    justify-items: center;
}


.card h1 {
    font-weight: 400;
    font-size: 28px;

}

.card label {
    font-size: 13px;
    padding-left: 4px;
    padding-bottom: 4px;
    font-weight: 700;
}

.card input {
    display: flex;
    width: 290px;

    height: 25px;
    padding: 3px 7px;
    margin-top: 2px;
    background-color: #ffff;
    border: 1px solid #a6a6a6;
    border-radius: 3px;

}



.card p,
.card p a {
    font-size: 12px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #0066c0
}

.card a {
    margin-top: 10px;
    font-size: 13px;
}

.icon::before {
    display: inline-block;
    content: "";
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
    margin-right: 10px;

}

.breck p {

    font-size: 12px;
    color: #767676;
    font-weight: 400;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 7px;
}

.breck,
.btn {
    display: flex;
    justify-content: start;
}

.breck::before,
.breck::after {
    content: "";
    position: relative;
    top: 5px;
    display: inline-block;
    width: 120px;
    border-top: 1px solid #e7e7e7;
}

.btn-button {
    width: 300px;
    height: 30px;
    margin: 15px auto;
    background-color: #179929;
    padding: 3px 7px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    color: hwb(319 4% 59%);
    font-weight: bold;
}

.btn-button:hover {
    background-color: yellow;

}

footer .links {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 25px auto 15px auto;
}

footer .links a {
    font-size: 12px;
}

footer::before {
    content: "";
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    height: 44px;
    margin-top: -35px;
    border-top: 1px solid transparent;
    box-sizing: 0 10px 15px -20px #333;
}